name: GNU-IceCat
on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      job:
        description: 'Job to run.'
        required: true
        default: 'Build_Windows'

jobs:
  Make_IceCat:
    runs-on: ubuntu-latest
    steps:
      - name: Clone GNU IceCat
        if: ${{ (github.event.inputs.job == github.job) || (github.event.inputs.job == 'all') }}
        run: | 
          git clone -b $(git ls-remote -t --sort="v:refname" --refs https://git.savannah.gnu.org/git/gnuzilla.git|tail -1|cut -d"/" -f3) \
          --depth 1 https://git.savannah.gnu.org/git/gnuzilla.git

      - name: Upload Gnuzilla
        uses: actions/upload-artifact@v4
        if: ${{ (github.event.inputs.job == github.job) || (github.event.inputs.job == 'all') }}
        with:
          name: Gnuzilla
          path: |
            gnuzilla
            .bashrc

      - name: Make GNU IceCat
        if: ${{ (github.event.inputs.job == github.job) || (github.event.inputs.job == 'all') }}
        run: |
          cd gnuzilla && \
          sed -i -e '/brand.dtd/s/^/#/' -e '/brand.ftl/s/^/#/' makeicecat && \
          sed -i '/ding Firefox tarball$/{n;s/^[[:blank:]]\+wget/& --progress=bar:force:noscroll/;}' makeicecat
          ./makeicecat
          
      - name: Upload GNU IceCat
        uses: actions/upload-artifact@v4
        if: ${{ (github.event.inputs.job == github.job) || (github.event.inputs.job == 'all') }}
        with:
          name: IceOutput
          path: gnuzilla/output/icecat-*.tar.bz2
          
  Build_Windows:
    runs-on: ubuntu-latest
    needs: Make_IceCat
    steps:
      - name: Download Gnuzilla
        if: ${{ (github.event_name == 'push') || (github.event.inputs.job == github.job) || (github.event.inputs.job == 'all') }}
        id: download-gnuzilla
        uses: dawidd6/action-download-artifact@v11
        with:
          workflow_conclusion: ""
          name: Gnuzilla
          search_artifacts: true
          check_artifacts: true
          
      - name: Download IceOutput
        if: ${{ (github.event_name == 'push') || (github.event.inputs.job == github.job) || (github.event.inputs.job == 'all') }}
        id: download-iceoutput
        uses: dawidd6/action-download-artifact@v11
        with:
          workflow_conclusion: ""
          name: IceOutput
          path: gnuzilla/output/
          search_artifacts: true
          check_artifacts: true
          
      - name: Prepare Windows build environment
        if: ${{ (github.event_name == 'push') || (github.event.inputs.job == github.job) || (github.event.inputs.job == 'all') }}
        run: |
          sudo dpkg --add-architecture i386 && sudo apt-get update && \
          sudo apt-get -y install mingw-w64-tools llvm wine-binfmt \
          mingw-w64-x86-64-dev g++-mingw-w64-x86-64-posix gcc-mingw-w64-x86-64-posix \
          libgcc-12-dev-amd64-cross nasm libwine libwine-dev wine64 wine32:i386 xserver-xorg-video-dummy && \
          sudo ln -s /usr/bin/lld-link-14 /usr/bin/lld-link
          sudo ln -s /usr/lib/gcc/x86_64-w64-mingw32/10-posix/include/c++ /usr/x86_64-w64-mingw32/include/c++
          echo "-L/usr/x86_64-w64-mingw32/lib -L/usr/lib/gcc/x86_64-w64-mingw32/10-posix -mwindows -v" > /home/runner/clang.cfg && \
          sudo mv -v /usr/bin/ld /usr/bin/ld.bak && \
          sudo ln -vs /usr/bin/x86_64-linux-gnu-ld /usr/bin/ld && \
          rustup target add x86_64-pc-windows-gnu
          /usr/bin/clang++ -target x86_64-w64-mingw32 -v
          clang -target x86_64-w64-mingw32 -v -c -xc++ /dev/null
          cat << EOF >> $HOME/dummy.conf
          Section "Device"
            Identifier "Card0"
            Driver     "dummy"
          EndSection
          Section "Monitor"
            Identifier "Monitor0"
          EndSection
          Section "Screen"
            Identifier "Screen0"
            Device "Card0"
            Monitor "Monitor0"
          EndSection
          EOF
        
      - name: Prepare Windows build script
        if: ${{ (github.event_name == 'push') || (github.event.inputs.job == github.job) || (github.event.inputs.job == 'all') }}
        run: |
          tar -xf gnuzilla/output/icecat-*.tar.bz2 -C gnuzilla/output/
          cd $(ls -d gnuzilla/output/icecat-*|head -1)
          chmod u+x ../../data/buildscripts/build-windows.sh && \
          xargs -n 1 cp /usr/include/wine/wine/windows/*.*<<<"other-licenses/ia2 accessible/interfaces/msaa"
          sed '/mach build/s/^/strace -f -t -e trace=file /' ../../data/buildscripts/build-windows.sh && \
          sed -i -e 's/^apt-get/sudo apt-get/' -e '/^sudo apt-get/s/--force-yes  //' ../../data/buildscripts/build-windows.sh && \
          sed -i 's/i686-w64-mingw32/x86_64-w64-mingw32/' ../../data/buildscripts/mozconfig-windows
          sed -i '0,/$LDFLAGS/s//& --config \/home\/runner\/clang.cfg/' build/autoconf/acgeneral.m4
          sed -i '21d;24d;25d' browser/branding/branding-common.mozbuild
          cat << EOF >> ../../data/buildscripts/mozconfig-windows
          ac_add_options --with-toolchain-prefix=x86_64-w64-mingw32-
          CXXFLAGS="-fms-extensions"
          ac_add_options --disable-default-browser-agent
          ac_add_options --disable-geckodriver
          ac_add_options --disable-webrtc
          ac_add_options --enable-proxy-bypass-protection
          ac_add_options --disable-warnings-as-errors
          mk_add_options "export WIDL_TIME_OVERRIDE=0" 
          EOF
          
      - name: Run fxc2 build.
        if: ${{ (github.event_name == 'push') || (github.event.inputs.job == github.job) || (github.event.inputs.job == 'all') }}
        run: |
          git clone --depth 1 https://github.com/mozilla/fxc2.git
          cd fxc2 && clang++ -v -target x86_64-w64-mingw32 -static -pthread -I/usr/lib/gcc/x86_64-w64-mingw32/10-posix/include/c++ \
          -I/usr/lib/gcc/x86_64-w64-mingw32/10-posix/include/c++/x86_64-w64-mingw32 -L/usr/lib/gcc/x86_64-w64-mingw32/10-posix \
          -L/usr/x86_64-w64-mingw32/lib -L/usr/lib/gcc-cross/x86_64-linux-gnu/12 fxc2.cpp -ofxc2.exe && \
          sudo cp -v fxc2.exe /usr/local/bin/
          sudo cp -v dll/d3dcompiler_47.dll /usr/local/bin/d3dcompiler_47.dll
          sudo cp -v dll/d3dcompiler_47_32.dll /usr/local/bin/d3dcompiler_47_32.dll
                              
      - name: Run Windows build script
        if: ${{ (github.event_name == 'push') || (github.event.inputs.job == github.job) || (github.event.inputs.job == 'all') }}
        run: |
          cd $(ls -d gnuzilla/output/icecat-*|head -1)
          export MOZ_CONFIGURE_TRACE=true && \
          export LDFLAGS="-L/usr/x86_64-w64-mingw32/lib -L/usr/lib/gcc/x86_64-w64-mingw32/10-posix"
          #export DISPLAY=:99
          export WINEDLLPATH=/usr/local/bin/
          export WINEARCH=win32
          #X -config $HOME/dummy.conf &>$HOME/xorg.log &
          #wineboot -i && \
          #winecfg -v
          xvfb-run -a /usr/lib/wine/wine64 ping.exe -4 -a -n 8 gnu.com
          echo "xvfb-->wine-->ping"
          #pgrep -af dummy.conf
          #/usr/lib/wine/wine64 /usr/local/bin/fxc2.exe -nologo -Tvs_4_0_level_9_3 gfx/layers/d3d11/CompositorD3D11.hlsl -ELayerQuadVS \
          #-VnLayerQuadVS -Vi -DVERTEX_SHADER -Fhtmpor9klci_ && \
          #../../data/buildscripts/build-windows.sh
          #cp /usr/include/wine/wine/windows/*.* other-licenses/ia2
          #cp /usr/include/wine/wine/windows/*.* accessible/interfaces/msaa
    
      - uses: actions/upload-artifact@v4
        if: >-
          ${{ 
            (
              (github.event_name == 'push') ||
              (github.event.inputs.job == github.job) ||
              (github.event.inputs.job == 'all')
            ) &&
            (success() || failure())
          }}
        with:
          name: IceConfigureLog
          path: |
            /home/runner/xorg.log
            /home/runner/.local/share/xorg/Xorg.0.log
            /home/runner/gnuzilla/output/icecat-*/obj-windows/config.log
